<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        .form-group{
            margin: 10px;
        }
        .form, .header {
            display: grid;
            place-items: center;
            height: 50%;
        }
        form {
            border: 1px solid gray;
            border-radius: 10px;
        }
        .warning {
            background-color: #cc5c67;
            border: 1px solid red;
            border-radius: 10px;
            margin: 5px;
            padding: 2px;
        }
    </style>
</head>
<body>
    <div class="header">
        <h1 dir="rtl">
          برند جدید را وارد بکنید      
        </h1>
    </div>

    <div class="form" dir="rtl">
        <form action="{% url 'brand-form-page' %}" method="post">
            {% csrf_token %}
            <div class="form-group">

                {% if form.errors %}
                    <div class="warning">
                        {% for error in errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}

                <div class="form-group">
                    {{ form.brand_name.label }}
                    {{ form.brand_name }}
                </div>
                
                <div class="form-group">
                    {{ form.brand_national.label }}
                    {{ form.brand_national }}
                </div>


            </div>
            
            <button type="submit" style="margin-right: 45%; margin-bottom: 10px;">ثبت</button>
        </form>
    </div>
</body>
</html>