<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        .form-group{
            margin: 10px;
            width: 100%;
        }
        .form, .header {
            display: grid;
            place-items: center;
            height: 50%;
            grid-template-columns: 1fr;

        }
        form {
            border: 1px solid gray;
            border-radius: 15px;
        }
    </style>
</head>
<body>
    <div class="header">
        <h1 dir="rtl">
            محصول جدید را اضافه کنید
        </h1>
    </div>



    <div class="form" dir="rtl">
        <form method="post" action="{% url 'phone-form-page' %}">
     
            {% csrf_token %}
            <div class="form-group">
                {{ form.phone_brand.label }}
                {{ form.phone_brand }}
                <button><a href="{% url 'brand-form-page' %}">ساخت برند جدید</a></button>
            </div>
            <div class="form-group">
                {{ form.phone_model.label }}
                {{ form.phone_model }}
            </div>
            <div class="form-group">
                {{ form.price.label }}
                {{ form.price }}
            </div>
            <div class="form-group">
                {{ form.color.label }}
                {{ form.color }}
            </div>
            <div class="form-group">
                {{ form.phone_size.label }}
                {{ form.phone_size }}
            </div>
            <div class="form-group">
                {{ form.availability.label }}
                {{ form.availability }}
            </div>
            
            <div class="form-group">
                {{ form.count.label }}
                {{ form.count }}    
            </div>
            <div class="form-group">
                {{ form.creator_country.label }}
                {{ form.creator_country }}
            </div>
            
            <button type="submit" style="margin-right: 45%; margin-bottom: 10px;">ثبت</button>
        </form>
    </div>
</body>
</html>