{% load render_table from django_tables2 %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>phone list</title>
    <link rel="stylesheet" href="{% static 'css/custom-home.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<div class="form">
    <form action="{% url 'phone-list-page' %}" method="get" dir="rtl">

        <label for="">نام برند یا مدل گوشی را وارد بکنید:</label>
        <input type="text" name="brand_things" id="brand_things"/>

        <label for="nationality">ملیت برند را انتخاب بکنید:</label>
        <select name="nationality" id="nationality">
            <option disabled selected value> -- لطفا یک گزینه انتخاب بکنید --</option>
            {% for national in nationals %}
                <option value="{{ national }}">{{ national.name }}</option>
            {% endfor %}
        </select>

        <label for="same_nationality">ملیت با کشور یکی است:</label>
        <input type="checkbox" name="same_nationality" id="same_nationality"/>

        <label for="availability"> فقط گوشی های که موجود هستند </label>
        <input type="checkbox" name="availability" id="availability"/>

        <button type="submit"> فیلتر</button>
        <button type="submit"><a href="{% url 'phone-list-page' %}">بازنشانی فیلتر</a></button>

    </form>
</div>

<button><a href="{% url 'phone-form-page' %}">اضافه کردن محصول جدید</a></button>
{% render_table table %}

<script src="{% static 'js/custom-home.js' %}"></script>
</body>
</html>
